.container1{
    background-color: aliceblue;
    margin: 1%;
    padding:1%;
}
.navbar{
    background-color:antiquewhite;
    margin: 1%;
    padding:1%;
}
.content{
    margin: 1%;
    padding:1%;
}