<div class="inner-home">
    <div class="home-section p-5 ">
  <div class="container text-white ">
    <div class="row">
      <div class="col-lg-8 d-none d-lg-block">
        <h2 class="display-5">Build <strong>Skills</strong> and grow in your <strong>Career</strong></h2>
        <div class="d-flex">
        <div class="p-4 align-self-start">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </div>
        <div class="p-4 align-self-end">
          Test your Skill
        </div>
      </div>
      <div class="d-flex">
        <div class="p-4 align-self-start">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </div>
        <div class="p-4 align-self-end">
          Develop Skills
        </div>
      </div>
      <div class="d-flex">
        <div class="p-4 align-self-start">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </div>
        <div class="p-4 align-self-end">
          Grow your Career
        </div>
      </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-3 p-1 bg-primary ">
          <div class="card-body text-center ">
            <h4 class="display-6 py-2"><b>Sign in</b></h4>
            <div class="input-group mb-3 py-2">
              <div class="input-group-prepend">
                <span class="input-group-text " id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
      
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
            </div>
      
            <button class="btn btn-secondary btn-block" type="submit">Login</button><br>
            <label>
              <input type="checkbox" checked="checked" name="remember" class="text-black"> Remember me
            </label>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
</div>
 