.container1{
    margin: 0.5%;
    padding:0%;
    background:rgb(190, 224, 243);
}
.home-section{
    background: url(../resources/img/ExamSimulatorHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
    
}

.card{
    opacity: 0.9;
}
.CheckBoxWhite{
    border: solid 1px red;
}
